In [1]:
# Importando Bilbiotecas.
import pandas as pd
import psycopg2
import seaborn as sns
import matplotlib.pyplot as plt
sns.axes_style("darkgrid")
sns.set_theme()

import warnings
warnings.filterwarnings('ignore')

import os
import glob
from dotenv import load_dotenv
# Carrega variáveis de ambiente.
load_dotenv("/analise/conecta banco/.env")

True

In [20]:
path_raw = "C:/Users/Usuario/Documents/Projetos_git/iesb_pi6/analise/dados_sih/rawdata/"
path_base = "C:/Users/Usuario/Documents/Projetos_git/iesb_pi6/analise/dados_sih/basedata/"

In [19]:
colunas_servicos = ["V_105001", "V_105002", "V_105003", "V_105004", \
                    "V_105005", "V_105006", "V_105007", "V_105008", "V_105009", "V_107008", "V_112001", "V_112003", \
                    "V_113001", "V_113002", "V_113003", "V_113004", "V_114006", "V_114007", "V_115001", "V_115002", \
                    "V_115003", "V_115004", "V_115005", "V_115007", "V_116002", "V_116003", "V_116004", "V_116005", \
                    "V_117001", "V_117002", "V_120001", "V_120002", "V_120003", "V_121000", "V_121001", "V_121002", \
                    "V_121003", "V_121004", "V_121006", "V_121007", "V_121008", "V_121009", "V_121010", "V_121011", \
                    "V_121012", "V_122000", "V_122001", "V_122003", "V_122004", "V_122005", "V_122007", "V_122008", \
                    "V_123002", "V_123006", "V_125001", "V_125002", "V_125004", "V_125006", "V_125007", "V_126001", \
                    "V_126002", "V_126003", "V_126004", "V_126005", "V_126006", "V_126007", "V_126008", "V_127001", \
                    "V_128000", "V_128001", "V_128002", "V_128003", "V_128004", "V_131000", "V_131001", "V_131002", \
                    "V_131003", "V_131005", "V_131006", "V_131007", "V_132001", "V_132002", "V_132003", "V_132004", \
                    "V_132005", "V_133001", "V_133002", "V_133003", "V_134003", "V_134011", "V_135001", "V_135002", \
                    "V_135003", "V_135004", "V_135005", "V_135007", "V_135008", "V_135010", "V_135011", "V_135013", \
                    "V_140000", "V_140001", "V_140002", "V_140003", "V_140004", "V_140005", "V_140006", "V_140012", \
                    "V_140019", "V_142001", "V_142002", "V_142003", "V_142004", "V_145000", "V_145001", "V_145002", \
                    "V_145003", "V_145005", "V_145006", "V_145008", "V_145009", "V_145011", "V_149001", "V_149005", \
                    "V_149006", "V_149008", "V_149014", "V_149015", "V_149016", "V_151001", "V_151003", "V_153002", \
                    "V_154001", "V_154002", "V_155001", "V_155002", "V_155003" , "V_169002"]

In [10]:
os.chdir("C:/Users/Usuario/Documents/Projetos_git/iesb_pi6/analise/dados_sih/rawdata/")

In [12]:
extension = 'txt'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
all_filenames

['SIH_SUS_2018.txt',
 'SIH_SUS_2019.txt',
 'SIH_SUS_2020.txt',
 'SIH_SUS_2021.txt',
 'SIH_SUS_2022.txt']

In [53]:
#combinar todos os arquivos da lista
Hospitais = pd.concat([pd.read_csv(f, sep=';', encoding='latin1') for f in all_filenames ])
Hospitais.head()

,ANO_MES,ANO,MES,COD_MUNICIPIO_SEM_DV,V_105001,V_105002,V_105003,V_105004,V_105005,V_105006,...,V_149016,V_151001,V_151003,V_153002,V_154001,V_154002,V_155001,V_155002,V_155003,V_169002
0,2018_1,2018,1,110002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018_1,2018,1,110004,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018_1,2018,1,110009,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018_1,2018,1,110010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018_1,2018,1,110011,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
def servicosHospitalares(df, colunas_s_c, path):
    """
    Cria coluna com soma de quantidade por Servicos Hospitalares. by Nathan Ferreira Santana.
    """
    # Quantidade por Servicos Hospitalares.
    df['105'] = df[["V_105001", "V_105002", "V_105003", "V_105004", "V_105005", "V_105006", "V_105007", "V_105008", "V_105009"]].sum(axis=1)
    df['107'] = df[["V_107008"]].sum(axis=1)
    df['112'] = df[["V_112001", "V_112003"]].sum(axis=1)
    df['113'] = df[["V_113001", "V_113002", "V_113003", "V_113004"]].sum(axis=1)
    df['114'] = df[["V_114006", "V_114007"]].sum(axis=1)
    df['115'] = df[["V_115001", "V_115002", "V_115003", "V_115004", "V_115005", "V_115007"]].sum(axis=1)
    df['116'] = df[["V_116002", "V_116003", "V_116004", "V_116005"]].sum(axis=1)
    df['117'] = df[["V_117001", "V_117002"]].sum(axis=1)
    df['120'] = df[["V_120001", "V_120002", "V_120003"]].sum(axis=1)
    df['121'] = df[["V_121000", "V_121001", "V_121002", "V_121003", "V_121004", "V_121006", "V_121007", \
                    "V_121008", "V_121009", "V_121010", "V_121011", "V_121012"]].sum(axis=1)
    df['122'] = df[["V_122000", "V_122001", "V_122003", "V_122004", "V_122005", "V_122007", "V_122008"]].sum(axis=1)
    df['123'] = df[["V_123002", "V_123006"]].sum(axis=1)
    df['125'] = df[["V_125001", "V_125002", "V_125004", "V_125006", "V_125007"]].sum(axis=1)
    df['126'] = df[["V_126001", "V_126002", "V_126003", "V_126004", "V_126005", "V_126006", "V_126007", "V_126008"]].sum(axis=1)
    df['127'] = df[["V_127001"]].sum(axis=1)
    df['128'] = df[["V_128000", "V_128001", "V_128002", "V_128003", "V_128004"]].sum(axis=1)
    df['131'] = df[["V_131000", "V_131001", "V_131002", "V_131003", "V_131005", "V_131006", "V_131007"]].sum(axis=1)
    df['132'] = df[["V_132001", "V_132002", "V_132003", "V_132004", "V_132005"]].sum(axis=1)
    df['133'] = df[["V_133001", "V_133002", "V_133003"]].sum(axis=1)
    df['134'] = df[["V_134003", "V_134011"]].sum(axis=1)
    df['135'] = df[["V_135001", "V_135002", "V_135003", "V_135004", "V_135005", "V_135007", "V_135008", "V_135010", "V_135011", "V_135013"]].sum(axis=1)
    df['140'] = df[["V_140000", "V_140001", "V_140002", "V_140003", "V_140004", "V_140005", "V_140006", "V_140012", "V_140019"]].sum(axis=1)
    df['142'] = df[["V_142001", "V_142002", "V_142003", "V_142004"]].sum(axis=1)
    df['145'] = df[["V_145000", "V_145001", "V_145002", "V_145003", "V_145005", "V_145006", "V_145008", "V_145009", "V_145011"]].sum(axis=1)
    df['149'] = df[["V_149001", "V_149005", "V_149006", "V_149008", "V_149014", "V_149015", "V_149016"]].sum(axis=1)
    df['151'] = df[["V_151001", "V_151003"]].sum(axis=1)
    df['153'] = df[["V_153002"]].sum(axis=1)
    df['154'] = df[["V_154001", "V_154002"]].sum(axis=1)
    df['155'] = df[["V_155001", "V_155002", "V_155003"]].sum(axis=1)
    df['169'] = df[["V_169002"]].sum(axis=1)
    
    
    # Remove colunas Servico/Classificacao.
    df.drop(columns=colunas_s_c, axis=1, inplace=True)
    
    #     # Extraindo ano para nome do arquivo.
    #     ano = df_qt["ANO"][0]
    
    modificaDtypeColunas(df)
    
    # Salva base.
    df.to_csv(path+f'SIH_SUS_SERVICOS_2018_2022.txt', sep=';', index=False, encoding='latin1')
    
    return df

In [55]:
def modificaDtypeColunas(df):
    # Modifica dtype de colunas.
    df['105'] = df['105'].astype('Int64')
    df['107'] = df['107'].astype('Int64')
    df['112'] = df['112'].astype('Int64')
    df['113'] = df['113'].astype('Int64')
    df['114'] = df['114'].astype('Int64')
    df['115'] = df['115'].astype('Int64')
    df['116'] = df['116'].astype('Int64')
    df['117'] = df['117'].astype('Int64')
    df['120'] = df['120'].astype('Int64')
    df['121'] = df['121'].astype('Int64')
    df['122'] = df['122'].astype('Int64')
    df['123'] = df['123'].astype('Int64')
    df['125'] = df['125'].astype('Int64')
    df['126'] = df['126'].astype('Int64')
    df['127'] = df['127'].astype('Int64')
    df['128'] = df['128'].astype('Int64')
    df['131'] = df['131'].astype('Int64')
    df['132'] = df['132'].astype('Int64')
    df['133'] = df['133'].astype('Int64')
    df['134'] = df['134'].astype('Int64')
    df['135'] = df['135'].astype('Int64')
    df['140'] = df['140'].astype('Int64')
    df['142'] = df['142'].astype('Int64')
    df['145'] = df['145'].astype('Int64')
    df['149'] = df['149'].astype('Int64')
    df['151'] = df['151'].astype('Int64')
    df['153'] = df['153'].astype('Int64')
    df['154'] = df['154'].astype('Int64')
    df['155'] = df['155'].astype('Int64')
    df['169'] = df['169'].astype('Int64')

In [56]:
df_qt = servicosHospitalares(Hospitais, colunas_servicos, path_base)

In [57]:
df_qt.head()

,ANO_MES,ANO,MES,COD_MUNICIPIO_SEM_DV,105,107,112,113,114,115,...,135,140,142,145,149,151,153,154,155,169
0,2018_1,2018,1,110002,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,2018_1,2018,1,110004,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018_1,2018,1,110009,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,2018_1,2018,1,110010,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018_1,2018,1,110011,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [58]:
df_qt.loc[df_qt['COD_MUNICIPIO_SEM_DV'] == 530010]

,ANO_MES,ANO,MES,COD_MUNICIPIO_SEM_DV,105,107,112,113,114,115,...,135,140,142,145,149,151,153,154,155,169
1244,2018_1,2018,1,530010,0,0,0,408,0,0,...,419,0,0,40,6,0,0,0,1,0
6818,2018_2,2018,2,530010,1,0,0,59,0,4,...,661,0,2,68,14,0,0,0,0,0
12409,2018_3,2018,3,530010,0,0,0,95,0,17,...,1667,0,1,60,8,0,0,0,1,0
17964,2018_4,2018,4,530010,1,0,0,10,0,40,...,2962,0,2,46,9,0,0,0,1,0
23532,2018_5,2018,5,530010,0,0,0,58,0,83,...,1711,0,3,44,16,0,0,0,0,0
29110,2018_6,2018,6,530010,1,0,0,37,0,352,...,2012,0,1,30,17,0,0,0,0,0
34668,2018_7,2018,7,530010,0,0,0,216,0,112,...,1223,0,1,34,10,0,0,0,2,0
40256,2018_8,2018,8,530010,0,0,0,73,0,110,...,2453,0,3,28,11,0,0,0,1,0
45833,2018_9,2018,9,530010,0,0,0,61,0,141,...,2341,0,1,32,7,0,0,0,0,0
51406,2018_10,2018,10,530010,0,0,0,93,0,59,...,2362,0,5,41,9,0,0,0,1,0
56965,2018_11,2018,11,530010,0,0,0,72,0,193,...,3001,0,5,49,6,0,0,0,1,0
62545,2018_12,2018,12,530010,0,1,0,74,0,56,...,2500,0,10,22,5,0,0,0,0,0
1270,2019_1,2019,1,530010,0,0,0,126,0,1,...,3012,0,5,26,7,0,0,0,1,0
6823,2019_2,2019,2,530010,0,0,0,72,0,152,...,3977,0,12,51,16,0,0,0,1,0
12404,2019_3,2019,3,530010,0,0,0,30,0,58,...,5313,0,13,29,23,0,0,0,7,0
17984,2019_4,2019,4,530010,0,0,0,50,0,64,...,2439,0,14,20,13,0,0,0,1,0
23547,2019_5,2019,5,530010,0,0,0,326,0,105,...,2174,0,14,28,27,0,0,0,0,0
29108,2019_6,2019,6,530010,0,0,0,102,0,3,...,2032,0,21,24,10,0,0,0,0,0
34691,2019_7,2019,7,530010,0,1,0,220,0,110,...,3119,0,14,30,21,0,0,0,0,0
40259,2019_8,2019,8,530010,0,0,0,182,0,93,...,3333,0,15,29,8,0,0,0,0,0
45848,2019_9,2019,9,530010,23,0,0,1174,0,205,...,5925,4,60,52,26,3,0,0,0,9
51414,2019_10,2019,10,530010,48,0,0,4690,1,469,...,3675,10,99,163,9,10,0,0,0,24
56972,2019_11,2019,11,530010,79,0,0,7142,0,1018,...,4014,17,113,251,17,12,0,0,0,22
62524,2019_12,2019,12,530010,65,0,0,8060,0,1195,...,5217,14,117,198,10,15,0,0,1,27
1270,2020_1,2020,1,530010,83,0,0,11505,0,1121,...,6127,17,111,216,10,14,0,0,3,35
6830,2020_2,2020,2,530010,77,0,0,10941,0,1150,...,4035,24,95,188,18,10,0,0,1,33
12405,2020_3,2020,3,530010,121,1,0,14823,1,1272,...,5101,30,173,226,12,22,0,0,0,31
17942,2020_4,2020,4,530010,92,0,0,15223,0,963,...,7129,34,202,209,7,23,0,0,0,24
23502,2020_5,2020,5,530010,70,0,0,10321,0,958,...,5094,12,190,114,7,10,0,0,11,25
29080,2020_6,2020,6,530010,92,0,0,11170,1,802,...,4915,27,193,135,12,12,0,0,2,28
34651,2020_7,2020,7,530010,64,0,0,10314,0,912,...,7679,17,162,109,16,9,0,0,1,21
40258,2020_8,2020,8,530010,67,0,0,14108,0,928,...,7705,17,258,143,9,17,0,0,6,29
45825,2020_9,2020,9,530010,71,0,0,11771,0,1215,...,5375,15,215,130,16,20,0,0,0,14
51403,2020_10,2020,10,530010,69,0,0,13062,0,835,...,4145,4,225,145,2,9,0,0,3,17
56970,2020_11,2020,11,530010,77,0,0,12174,0,742,...,4777,16,212,124,4,20,0,0,0,32
62544,2020_12,2020,12,530010,82,1,0,14858,0,1096,...,2769,25,194,155,10,29,0,0,0,6
1269,2021_1,2021,1,530010,64,0,0,12216,0,1036,...,3316,28,213,124,3,14,0,0,0,9
6856,2021_2,2021,2,530010,89,0,0,11640,0,951,...,3800,19,210,125,4,18,0,0,0,4
12435,2021_3,2021,3,530010,72,6,0,14925,0,859,...,4933,12,233,121,20,25,0,0,0,1
18004,2021_4,2021,4,530010,58,1,0,12742,0,1024,...,5840,13,214,85,11,6,0,0,0,2
23593,2021_5,2021,5,530010,64,1,0,12939,0,756,...,7916,20,169,130,3,18,0,0,0,0
29164,2021_6,2021,6,530010,75,0,0,12790,0,905,...,6025,14,246,154,3,15,0,0,0,1
34744,2021_7,2021,7,530010,78,0,0,12218,0,972,...,5158,14,237,120,3,16,0,0,0,0
40313,2021_8,2021,8,530010,94,1,0,12272,0,764,...,5754,11,263,147,3,17,0,0,2,12
45889,2021_9,2021,9,530010,124,1,0,12621,0,1116,...,5163,13,259,108,0,15,0,0,0,8
51958,2021_10,2021,10,530010,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57036,2021_11,2021,11,530010,109,8,0,15660,0,984,...,5812,12,260,199,6,19,0,0,0,20
62585,2021_12,2021,12,530010,100,0,1,14583,0,1007,...,5438,17,233,168,3,10,0,0,0,8
1302,2022_1,2022,1,530010,105,0,0,15561,0,862,...,6031,12,206,258,0,10,0,0,0,12
6886,2022_2,2022,2,530010,84,8,0,13180,0,842,...,5090,12,208,235,3,15,0,0,0,7
12421,2022_3,2022,3,530010,109,3,0,15264,0,1145,...,6589,12,243,243,27,19,0,0,1,5
17809,2022_4,2022,4,530010,117,1,0,17369,0,835,...,5626,14,272,218,0,14,0,0,0,3

In [50]:
Hospitais

,ANO_MES,ANO,MES,COD_MUNICIPIO_SEM_DV,105,107,112,113,114,115,...,135,140,142,145,149,151,153,154,155,169
0,2018_1,2018,1,110002,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,2018_1,2018,1,110004,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018_1,2018,1,110009,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,2018_1,2018,1,110010,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018_1,2018,1,110011,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22275,2022_4,2022,4,350030,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22276,2022_4,2022,4,312270,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22277,2022_4,2022,4,150620,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22278,2022_4,2022,4,313060,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22279,2022_4,2022,4,110060,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0